li{
    display: inline-block;
    margin-bottom: 10px;
    
    padding: 25px;
}
#first{
    float:left;
    margin-left: 400px;
    /* margin-right: px; */

}
#img3{
    margin: 5px;
   
}
.img{
   float: left;
   padding: 30px;
   
}
#width{
    width: 100%;
}
h1{
    font-size: x-large;
    font-weight: bold;
}
.par{
 float: left;
 margin-left: 50px;
 margin-right: 50px;
}
h3{
    float: left;
    
}
h6{
    display: block;
}
#p1{
    font-size: medium;
    font-weight: bold;
}
#butt{
    width: 178px;
    height: 43px;
    border-radius: 17px;
}
#lastimg{
    width: 100%;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
body{
    text-align: center;
}